NUXT_API_PARTY_ENDPOINTS_LOCAL_API_URL=https://localhost
# Random 32char password for the session
NUXT_SESSION_PASSWORD=
# Dev only
NODE_TLS_REJECT_UNAUTHORIZED=0

# Site url, used for sitemap tool
NUXT_SITE_URL=

# API client auth
NUXT_OAUTH_CLIENT_ID=
NUXT_OAUTH_CLIENT_SECRET=

NUXT_OAUTH_BADGER_CLIENT_ID=

# Local env with fixture
#NUXT_OAUTH_CLIENT_ID=test
#NUXT_OAUTH_CLIENT_SECRET=secretTestOnly
#NUXT_OAUTH_BADGER_CLIENT_ID=badger


# OPTIONAL: Cloudflare turnstile captcha
# The secret key will have to be defined in the backend
#NUXT_PUBLIC_CLIENT_TURNSTILE=true
#NUXT_PUBLIC_TURNSTILE_SITE_KEY='1x00000000000000000000AA'

# Test Runner Configuration
# Path to the backend repository (default: ../narvik-back)
#BACKEND_PATH=../narvik-back

# OPTIONAL: Umami tracking
# NUXT_PUBLIC_UMAMI_ENABLED=false
# NUXT_PUBLIC_UMAMI_SCRIPT=''
# NUXT_PUBLIC_UMAMI_WEBSITE_ID=''
